/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

ul {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}